.table-format {
  padding: 20px;
  width: 100%;
}

.purchase-actions-container {
  margin-bottom: 20px;
}

.new-purchase-btn {
  background-color: tomato;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.new-purchase-btn:hover {
  background-color: tomato;
}

.purchase-container {
  margin-top: 10px;
  width: 70%;
  margin-left: max(5vw, 25px);
  color: #6d6d6d;
  font-size: 16px;
}

.purchase-actions-container {
  margin-bottom: 10px;
}

.new-purchase-btn {
  border: none;
  padding: 10px 30px;
  color: white;
  background-color: tomato;
  border-radius: 30px;
  cursor: pointer;
}

.purchases-table {
  width: 100%;
}

.table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 1rem;
  text-align: center;
  color: tomato;
  background-color: #f9f9f9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #ccc;
  font-size: 1rem;
  text-align: center;
}

.table-row .action-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.action-icon {
  cursor: pointer;
  font-size: 1.2rem;
}

.action-icon:hover {
  color: darkblue;
}

.no-purchases-message {
  text-align: center;
  color: #999;
}

@media (max-width: 760px) {
  .ingredient-list-row {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .ingredient-list-row {
    font-size: 0.8rem;
  }
}
