.invoice-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.invoice-modal-content {
    background: white;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

.invoice-container {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 450px;
    width: 450px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.invoice-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.invoice-info {
    display: flex;
    justify-content: space-around;
}

.header {
    color: orange;
    font-size: 30px;
    text-align: center;
}

.invoice-header>h3 {
    text-align: center;
}

.invoice-container>h3 {
    display: block;
    width: 100%;
    text-align: end;
    margin-right: 40px;
}

th,
td {
    text-align: center;
    /* Căn giữa theo chiều ngang */
    vertical-align: middle;
}

.btn-print {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: 0.3s;
    margin-top: 20px;
}

.btn-print:hover {
    background-color: #e69500;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-component {
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute; 
    top: 10px; 
    right: 10px; 
}

.btn-close {
    background-color: transparent;
    color: #ff4d4d;
    position: relative;
    top: 10p;
    /* Đỏ nhạt */
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-close:hover {
    background-color: #ffe6e6;
    color: #ff1a1a;
}

.separate-line {
    height: 1px;
    width: 80%;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}