body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  width: 100%;
  margin: 20px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 24px;
}

.create-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.create-button:hover {
  background-color: #45a049;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
}

.invoice-table th,
.invoice-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 20px;
}

.invoice-table th {
  background-color: #f4f4f4;
}

.invoice-table tr:hover {
  background-color: #f1f1f1;
}

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
}

.edit-icon {
  font-size: 18px;
  color: #555;
}

.edit-button:hover .edit-icon {
  color: #000;
}

.date-picker {
  height: 35px;
  text-align: center;
  font-size: 1.25rem;
  box-sizing: border-box;
  width: 150px;
  
}

.react-datepicker__input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-picker:focus {
  outline: none;
}

/* Tìm kiếm */
.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  font-size: 14px;
}

/* Pagination */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
}

.pagination li {
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination .active {
  background-color: #65A425;
  color: white;
}

.prev-button,
.next-button {
  font-weight: bold;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.left-header-component {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}