.tables-container {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tables-actions {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 20px;
}

.btn-add-table {
  border: none;
  padding: 10px 30px;
  color: white;
  background-color: tomato;
  border-radius: 30px;
  cursor: pointer;
}

.cards-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
  padding-left: 20px;
  overflow-x: auto;
}

.card-item {
  background-color: #f87e00;
  color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 170px;
  min-width: 100px;
}

.card-header {
  margin-bottom: 10px;
}

.card-item h3 {
  font-size: 1.8rem;
  margin: 0;
}

.card-item p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.card-divider {
  border-bottom: 2px solid #fff;
  margin: 10px 0;
}

.card-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icon-action {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}

.edit-action {
  font-size: 1.5rem;
}

.delete-action {
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .card-item {
    padding: 15px;
  }

  .icon-action {
    font-size: 1.2rem;
  }
}
