.table-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  top: 0;
}

.table-btn {
  padding: 10px 20px;
  background: #ff9800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 200px;
  width: 150px;
  font-size: 20px;
  box-sizing: border-box;
}

.table-btn:hover {
  background: #e68900;
}
